@tailwind base;
@tailwind components;

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer components {
  .context-menu-item {
    @apply hover:bg-zinc-700 px-2 py-2 text-sm flex items-center gap-2 cursor-pointer transition;
  }
}

input:focus-visible {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
